<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

	<title>iDropBox</title>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZkVpwmEXUvKtw2MWudXp43XX-7feVhaE&signed_in=true"
        async defer></script>


	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/list.css">
	<!-- Bootstrap import end -->

	<style>

		.list_space_providers{
			color:#35c1bd;
			border-radius:5px;
			border-style:solid;
			border-width:6px;
			padding:20px;
			margin:15px 15px 15px 0px;
			height:90px;
		}

		.box_price{
			display: inline-block;

		}

		#expand_map{
			width:90vw;
			text-align:center;
			margin-left: auto;
		    margin-right: auto;
		}

		#expand_map:focus{
			outline:0;
		}

		#boxes_list{
			margin-top:0vw;
		}

		#accordion{
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		}

		#back_button{
			border: none; background-color: transparent; margin-top: 20px;
		    margin-left: auto;
		    margin-right: auto;
		    margin-bottom:100px;
		    display: block;
		    font-size: 20px;
		}

	</style>


</head>

<body>
	<div id="accordion" style="height:50px;"> <!--collapsible bunch of map + lyft info-->
		<h3 id="expand_map">Route Details</h3>
		<div>
			<div style="display: inline-block">Name: </div><div style="display: inline-block" id="detail_name"></div><div></div>
			<div style="display: inline-block">Phone Number: </div>
			<a href="tel:215-805-3014"><div style="display: inline-block" id="detail_phoneNum"></div></a>
			<div></div>
			<div style="display: inline-block">Price per Box: </div><div style="display: inline-block" id="detail_price"></div><div></div>
			<div style="display: inline-block; padding-bottom:30px;">Address: </div><div style="display: inline-block" id="detail_address"></div>

			<div id="map" style="height: 35vw; max-height: 500px;"></div>
			<div style="height:30px;"></div>
			<div style="display: inline-block"><i class="fa fa-usd" aria-hidden="true"></i> Price: </div><div id ="estimated_price" style = "display: inline-block; padding-right:20px;"></div>
			<div style="display: inline-block"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: </div><div id ="estimated_time" style = "display: inline-block; padding-right:20px;"></div>
			<div style="display: inline-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Distance: </div><div id ="estimated_distance" style = "display: inline-block"></div>

		</div>

	</div>
	<div id="boxes_list">
		<script>
			var myAddress = "<%=myAddress%>"
		</script>
		<% for( var i = 0, length = users.length; i < users.length; i++) { %>
		<!--ejs for loop-->
		<div class="row single-list list_box" id ="<%=i%>">
		<div class="price-container">
			<div class="price-marker" id ="price<%=i%>"><b>$<%=users[i].price%></b></div>
		</div>
		<div style = "display: none;" id ="name<%=i%>"><%=users[i].name%></div>
		<div style = "display: none;" id ="phoneNum<%=i%>"><%=users[i].phoneNum%></div>
		<div class="main-container">
			<div class="address" id ="address<%=i%>"><b><%=users[i].address%></b></div>
			<div class="dividing-line"></div>
			<script>
			</script>
			<div class="lyft-container">
			</div>
		</div>
	</div>
	<% } %>
		<!--ejs for loop end-->
	<!--
		<ul style="list-style-type: none;">

			<li class="list_space_providers">
				<div id="">


					<div style="float:left;">
						<div style="font-size:30px; display: inline-block;">$<div class="box_price">30</div> per box</div><br>
						<div> 3737 Chestnut Street <br> Philadelphia, PA</div>
						<div> 215-805-3014</div>
					</div>
					<div style="float:right; margin-top:40px;">
						<button id="seemore" style="display:inline-block; ">See More</button>
						<button type="submit" >Request Space</button>
					</div>

				</div>

			</li>
		</ul>
		-->
	</div>
	<form type="POST" action="/">
		<input type="submit" value="< back">
	</form>
	<script>

		//this is the estimated min (approximately)
		//input 640 (sec) | output: 11 (min)
		function timeConverter(sec){
			if (sec < 60) {
				return 1
			} else {
				var min = Math.round(sec / 60)
				console.log("time", min)
				return min
			}
		}

$(document).ready(function() {

	//console.log(window.location.href );
	$("#accordion").accordion({
		collapsible: true,
		active:false,
		heightStyle: "panel"
	});

	//$("#accordion").accordion("option", "autoHeight", false);

	var down = false;
	var start_lat;
	var start_lat;
	var end_lat;
	var end_lat;

				function initMap(int) {
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 16,
	          center: {lat: -34.397, lng: 150.644}
	        });
	        var geocoder = new google.maps.Geocoder();
	        //put the element id
	          geocodeAddress(geocoder, map, int, function() {

							var token = 'gAAAAABX1K5SQpnOca2exYTkJoAYazdWnXh5enfYeNWpZHYAzNaKDhueoJFsO5Uls5LMmUvypoVQPZ21MKqtpz-u8eiNFeAo-JeznoSYN_Gc8nmmHq6ZCC7AvzLUKyw8LYw6Ee9MvWzz1Q7stQ2MRuoL1pjCyhcpyxYGTqmHw_HtKHfIIuT4F1Y='

							$.ajax({
							method: "GET",
							url: "https://api.lyft.com/v1/cost",
							//dataType: 'JSONP', //uncomment this and try again if there is an error
							data: {
								//put values from ejs [[[EJS]]] right now hardcoded
								start_lat:start_lat,
								start_lng:start_lng,
								end_lat:end_lat,
								end_lng:end_lng
							},
							beforeSend: function(xhr) {
							    xhr.setRequestHeader("Authorization", "Bearer "+token)
							},
							success: function(result) {
									console.log("????")
									console.log(result)
				          $("#estimated_price").text(parseInt(result.cost_estimates[0].estimated_cost_cents_max)/100)
									$("#estimated_distance").text(result.cost_estimates[0].estimated_distance_miles)
									$("#estimated_time").text(timeConverter(parseInt(result.cost_estimates[0].estimated_duration_seconds)))
										/*
				                {
				                  "cost_estimates": [
				                    {
				                      "ride_type": "lyft_plus",
				                      "estimated_duration_seconds": 913,
				                      "estimated_distance_miles": 3.29,
				                      "estimated_cost_cents_max": 2355,
				                      "primetime_percentage": "25%",
				                      "currency": "USD",
				                      "estimated_cost_cents_min": 1561,
				                      "display_name": "Lyft Plus",
				                      "primetime_confirmation_token": null
				                      "is_valid_estimate": true
				                    },
				                    {
				                      "ride_type": "lyft_line",
				                      "estimated_duration_seconds": 913,
				                      "estimated_distance_miles": 3.29,
				                      "estimated_cost_cents_max": 475,
				                      "primetime_percentage": "0%",
				                      "currency": "USD",
				                      "estimated_cost_cents_min": 475,
				                      "display_name": "Lyft Line",
				                      "primetime_confirmation_token": null
				                      "is_valid_estimate": true
				                    },
				                    {
				                      "ride_type": "lyft",
				                      "estimated_duration_seconds": 913,
				                      "estimated_distance_miles": 3.29,
				                      "estimated_cost_cents_max": 1755,
				                      "primetime_percentage": "25%",
				                      "currency": "USD",
				                      "estimated_cost_cents_min": 1052,
				                      "display_name": "Lyft",
				                      "primetime_confirmation_token": null
				                      "is_valid_estimate": true
				                    }
				                  ]
				                }
				              */
							},
							error: function(err) {
								console.log('lyft api call error');
								var responseText = JSON.parse(err.responseText);
								//do something that is possibly needed
							}
						})

						});
	      }
	      function geocodeAddress(geocoder, resultsMap, int, callback) {
	        var address = myAddress //get value from ejs
	        geocoder.geocode({'address': address}, function(results, status) {
	          if (status === google.maps.GeocoderStatus.OK) {
	            resultsMap.setCenter(results[0].geometry.location);
							start_lat = results[0].geometry.location.lat()
							start_lng = results[0].geometry.location.lng()
							console.log("start", start_lng, start_lat)
	            var marker = new google.maps.Marker({
	              map: resultsMap,
	              position: results[0].geometry.location
	            });
	          } else {
	            alert('Geocode was not successful for the following reason: ' + status);
	          }
	        });
					var endAddress = $('#address' + int).text()
					geocoder.geocode({'address': endAddress}, function(results, status) {
	          if (status === google.maps.GeocoderStatus.OK) {
							end_lat = results[0].geometry.location.lat()
							end_lng = results[0].geometry.location.lng()
							console.log("END", end_lat, end_lng)
							callback()
						}
					});
	      }

		$('.list_box').click(function(e){ // if error erase e

			var boxNumber = $(this).attr('id');
			//console.log("boxNum", boxNumber);
			$('#detail_name').text($('#name'+boxNumber).text())
			//console.log($('#name'+boxNumber).text())
			$('#detail_price').text($('#price'+boxNumber).text())
			//console.log($('#price'+boxNumber).text())
			$('#detail_address').text($('#address'+boxNumber).text())
			$('#detail_phoneNum').text($('#phoneNum'+boxNumber).text())
			//console.log($('#address'+boxNumber).text())
			if (!down){
				initMap(boxNumber);
				$('#accordion').accordion({
					active:0
				});
				$('#boxes_list').animate({
					'marginTop' : "+=65vw"
				}, 300 );
				down = !down
			} else {
				// $('#accordion').accordion({
				// 	active:false
				// });
				// down = false;
				// $('#boxes_list').animate({
				// 	'marginTop' : "-=95vw"
				// }, 300 );
			}

			e.preventDefault();

			//getting LYFT API OUTCOME


		});

});
</script>
</body>


</html>
